/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require foundation_and_overrides

 */
@import "leaflet";
.map {
  display: flex;
  height: 100vh;
  width: 100%;
}
.form {
  width: 20%;
  position: fixed;
  height: auto;
  right: 0;
  background-color: rgba(255,255,255,0.85);
  z-index: 999;
  padding-bottom: 15px;
}

.clear-markers{
  margin-top: 15px;
  background-color: green;
  &:hover{
    background-color: green;
  }
}
